html,
body {
    margin: 0;
    font-family: sans-serif;
}

/* themes */

body {
    background: var(--secondary-bg);
    font-family: var(--sans);

    --sans: 'IBM Plex Sans', sans-serif;
    --mono: 'IBM Plex Mono', monospace;
    --sidebar-width: 450px;

    /* color variables taken from Merlot */
    --primary-bg: #fdfeff;
    --primary-text: #111111;
    --secondary-bg: #f3f4f6;
    --secondary-text: #9b9b9b;
    --hover-bg: #dde1e5;
    --active-bg: #cdcfd2;
    --translucent: rgba(249, 250, 251, .8);
    --transparent: rgba(249, 250, 251, 0);
    --search-highlight: #a6f1e1;
}


/* html,
body {
    margin: 0;
    background: #f6f6f6;
    --paper-accent: #4a7fe0;
}

html,
body,
input,
textarea,
button {
    font-family: 'Barlow', system-ui, sans-serif;
    font-size: 1em;
}

body.themed {
    background: #111;
    color: var(--paper-foreground);
}

body.themed code {
    background: #000;
}

.themed {
    --paper-accent: #f6e66f;
    --paper-foreground: #fff;
    --paper-background: #404040;
    --paper-border-width: 6px;
} */
