.ob-highlight-952 {
  background-color:steelblue;
}

.osobisty-side-ui-container {
  position: fixed;
  border: 10px yellowgreen solid;
  float: right;
  /* 
  display: inline; */
  height: 500px ;
  width: 400px;
  top: 0px;
  right: 0px;
}